
<%= link_to preview_path(google_api_id: item["id"]), class: "list-link" do %>
<li class="list-item <%= index.even? ? "reverse" : "normal" %>">
  <% if item["volumeInfo"]["imageLinks"] %>
    <%= image_tag item["volumeInfo"]["imageLinks"]["thumbnail"] %>
  <% else %>
    <%= image_tag "placeholder.png" %>
  <% end %>
  <div class="list-body">
    <div class="list-header">
      <h3>
      <% if item["volumeInfo"]["title"] %>
        <%= item["volumeInfo"]["title"] %>
      <% else %>
        No title found
      <% end %>
      </h3>
      <div class="additional-info">
        <strong>
        <% if item["volumeInfo"]["publishedDate"] %>
          <%= item["volumeInfo"]["publishedDate"] %>
        <% else %>
          unknown
        <% end %>
        </strong>
        <% if item["volumeInfo"]["authors"] %>
          <% item["volumeInfo"]["authors"].each do |author| %>
          <em>
            <%= author %>
          </em>
          <% end %>
        <% else %>
          <em>
            author unknown
          </em>
        <% end %>
      </div>
    </div>
    <div class="list-description">
    <% if item["volumeInfo"]["description"] %>
      <p>
        <%= truncate(item["volumeInfo"]["description"].gsub(/<br>/, " "), length: 300, escape: false) %>
      </p>
    <% else %>
    <p>
      No description available at this time.
    </p>
    <% end %>
    </div>
  </div>
</li>

<% end %>

