<li class="list-container">
  <% if preview %>
  <%= render partial: "lists/list_item_body", locals: {item: item, index: index} %>
  <% else %>
  <div class="up-and-down">
    <div class="position">
      <span>#</span><%= item.position %>
    </div>
    <div class="chevrons">
      <div class="up-chevron">
        <%= link_to up_list_item_path(current_user.list, item), method: :patch, remote: :true, class: "btn-text-blue btn-blue-text-hover" do %>
        <i class="fa fa-chevron-up"></i>
        <% end %>
      </div>
      /
      <div class="down-chevron">
        <%= link_to down_list_item_path(current_user.list, item), method: :patch, remote: :true, class: "btn-text-blue btn-blue-text-hover" do %>
        <i class="fa fa-chevron-down"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: "lists/list_item_body", locals: {item: item, index: index} %>
  <% end %>
</li>

