<div class="list-item <%= index.even? ? "reverse" : "normal" %>" data-item-id="<%= item.id %>">
  <% if item.thumbnail %>
  <%= image_tag item.thumbnail %>
  <% else %>
  <%= image_tag "placeholder.png" %>
  <% end %>
  <div class="list-body">
    <div class="list-header">
      <h3>
        <% if item.title %>
          <%= item.title %>
        <% else %>
          No title found
        <% end %>
      </h3>
      <div class="additional-info">
        <strong>
          <% if item.publishing_date %>
          <%= item.publishing_date %>
          <% else %>
          unknown
          <% end %>
        </strong>
        <em>
          <%= item.author %>
        </em>
      </div>
    </div>
    <div class="list-description">
      <% if item.content %>
      <p>
        <%= truncate(item.content.gsub(/<br>/, " "), length: 300, escape: false) %>
      </p>
      <% end %>
    </div>
  </div>
</div>
