<div class="featured-user-container">
  <div class="user-info">
    <%= link_to list_path(list.user.username) do %>
      <h4>
        <strong>Featured User:</strong> <%= list.user.first_name %>
      </h4>
    <% end %>
    <p>
      "<%= list.user.description %>"
    </p>
  </div>
  <div class="featured-user-books">
    <% list.items.first(5).each do |item| %>
      <%= link_to list_item_path(list.user.username, item) do %>
        <div class="featured-book">
          <button data-balloon="<%= item.title %>" data-balloon-pos="up">
              <% if item.thumbnail %>
                <%= image_tag item.thumbnail %>
              <% else %>
                <%= image_tag "placeholder.png" %>
              <% end %>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>